body {
font-size:20px;
font-family:'Lato',sans-serif
}
img {
max-width:100%
}
h1,h2,h3,h4,h5,h6 {
font-family:'Oswald',sans-serif;
text-transform:uppercase
}
.item {
padding-top:100px;
min-height:150px;
position:relative
}
.item:before,.last-item:after {
background: rgb(255, 255, 255);
border:8px solid rgb(0, 38, 141);
border-radius:50%;
width:40px;
height:40px;
display:inline-block;
content:"";
margin-left:1rem;
position:relative;
z-index:1;
left:calc(2% - 36px)
}
.vertical-line {
width:8px;
background-color:rgb(0, 38, 141);
position:absolute;
left:calc(2% - 5px);
top:0;
bottom:0
}
.item .card-panel {
margin:0;
margin:2rem 0 0 3rem
}
.item-date {
margin-top:-60px;
margin-left:4rem
}
.cv-title {
margin-bottom:0;
margin-left:calc(2% - 5px);
line-height:190%
}
.cv-title span {
padding:1rem
}
.last-item{
padding-top:80px;
height:70px;
position:relative
}

textarea::placeholder{
    color:rgb(0, 0, 0);
    opacity:0.7;
}

#logo
{
    margin-bottom: -10px;
    
    border-radius:100%;
}

.icon-fb{
    color:rgb(89, 128, 255)
}
.icon-insta{
    color:rgb(255, 143, 189);
}

.icon-github{
    color: black;
}

.icon-mail{
    color:blueviolet;
}

.icon-and{
    color: rgb(108, 255, 108);
    border:  rgb(0, 146, 0);
    border-radius: 50%;
}